:root{
    --white-color: #fff;
    --black-color: #000;
    --text-color: #434343;
    --border-color: #eee;
    --height-header: 35px;
    --hover-color: #e34444;
    --primary-color: #33cccc;
    --primary-hover: rgba(141,238,238,0.2);
    --primary-font: 'IBM Plex Sans Hebrew', sans-serif;
}

a{
    text-decoration: none;
    color: var(--text-color);
}

ul{
    list-style: none;
    padding: 0;
}

*{
    box-sizing: inherit;
}

html{
    
    /* hack, mac dinh = 16px */
    font-size: 62.5%;
    line-height: 1.6rem; 
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans Hebrew', sans-serif;
    scroll-behavior: smooth;
}

p{
    font-size: 1.2rem;    
}

body{
    margin: 0;
    /* font-family: "Helvetica",Helvetica,Arial,sans-serif; */
    font-size: 1.4rem;
    color: #333;
}


@keyframes loading{
    0%{
        opacity: 0;
        transform: translateY(20%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}


@keyframes loading2{
    0%{
        opacity: 0;
        transform: translateY(5%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);

    }
}


@keyframes loading3{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

@-webkit-keyframes icon-circle-img-anim {
    0%{
        -webkit-transform: translateX(-5px);
    }
    25%{
        -webkit-transform: translateX(-10px);
    }
    50%{
        -webkit-transform: translateX(5);
    }
    75%{
        -webkit-transform: translateX(10px);
    }
    100%{
        -webkit-transform: translateX(0);
    }
    
}